@import "variables-estructura";
@import "mixin-estructura";

*{
  margin: 0px;
  padding: 0px;

}
header{
  width: auto;
  height: 500px;
  background-image: url("../img/arequipa.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 1;
  @include noseleccion;
}
footer{
  width: auto;
  height: 100px;
  height: 100px;
  background: $colorfooter;
  color: $colorfoletra;
  @include noseleccion;
}
#copyright{
  padding: $pading;
  @include noseleccion;
}
#titulo{
  font-family: "Book Antiqua";
  height: 80px;
  color: $colortituloletra;
  @include noseleccion;
  #ntitulo{
    padding: $pading;
    font-size: 30px;
    display: inline-block;
    font-weight: bold;
    position: absolute;
    left: 100px;
    top: 20px;
    -webkit-text-stroke: 1px #fff;
    @include noseleccion;
  }
}
#logo{
  padding: $pading;
  position: absolute;
  left: 40px;
  @include noseleccion;
}

#menu-principal{
  position: absolute;
  right: 0px;
  padding: 30px;
  @include noseleccion;
}
li{
  display: inline-block;
  list-style: none;
  width: 100px;
  height: 40px;
  h3{
    font-size: 14px;
    text-align: center;
    padding: 10px;
    font-weight: bold;
    &:hover{
      font-size: 17px;
    }
    a{
      text-decoration: none;
      color: aliceblue;
    }
  }
  &:hover{
    background: #6b000b;
    opacity: 0.8;
    border-radius: 10px;
  }
}
section {
  $par: 0;
  #noticias {
    background-color: cornsilk;
    @for $i from 1 through 4 {
      $par: floor($i/2);
      @if ($par*2==$i) {
        #not#{$i} {
          @include noticias;
          position: absolute;
          right: 0px;
        }
      } @else {
        #not#{$i} {
          @include noticias;
        }
      }
    }
  }
}
