//ESTILOS HTML
//CLASES
//USASR ID
//AREGLAR ERROR
//https://intellij-support.jetbrains.com/hc/en-us/
//community/posts/360000082570-SCSS-Encoding-CompatibilityError-
// incompatible-character-encodings-CP850-and-UTF-8



*{
  margin: 0px;
  padding: 0px;
}
header{
  border: 1px solid blue;
  margin: 20px;
  h1{
    color: #fff;
    padding: 20px auto;
    text-align: center;
  }
}
body{
  background: #33ff00;
  font-family: Verdana;
}
#contenedor{
  border: 1px dashed #ff3333;
  background: yellow;
  width: 900px;
  margin: 0 auto;
  overflow: hidden;
}
#main{
  background: #ff99cc;
  padding: 20px;
  width: 700px;
  float: left;
  img{
    width: 100%;
    height: auto;
  }

}
footer{
  caption-side: bottom;
}

aside{
  background: #ccc;
  padding: 20px;
  width: 120px;
  float: left;
}
footer{
  width: 860px;
  padding: 20px;
  background: #000000;
  color: white;
  float: left;
}
nav{
  background: #56cfd6;
  color: black;
  padding-top: 20px;
}